<h1>Help page</h1>
<div class ="explanation">
<h3>about：このサイトについて</h3>
<h5>Tech Academyが主催するオンラインブートキャンプでの課題サイトです。</h5>
<h5>Ruby on Railsを使いtwitterクローンを作成しました。</h5>
<h3>content</h3>
<h5>ログイン機能を実装しトップページより投稿することが出来ます。</h5>
<h5>ユーザー同士のフォローアンフォロー、投稿のお気に入り機能があります。</h5>
<h5>settingsよりユーザープロフィールを更新することが出来ます。</h5>
</div>