
  <div id="fav-<%= micropost.id %>">
  <% if current_user.favorites?(micropost) %>
    <%= render 'microposts/unfavorite', micropost: micropost %>
  <% else %>
    <%= render 'microposts/favorite', micropost: micropost %>
  <% end %>
  </div>
